.empresas-aereas-parceiras {
  margin: 100px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  background-image: linear-gradient(
    to right,
    rgba(34, 103, 151, 0.87),
    rgba(41, 112, 142, 0.58)
  );
}

.empresas-aereas-parceiras img {
}
