#servicos {
  margin: 60px auto;
}
#servicos h2 {
  font-size: 4.4rem;
  color: var(--blue);
}
#servicos h2 span {
  color: var(--red);
}
#servicos .services-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 40px;
}

#servicos .services-container .card-services {
}

#servicos .services-container .card-services .image-area {
  display: flex;
  justify-content: center;
}

#servicos .services-container .card-services .image-area img {
}

#servicos .services-container .card-services .services-text {
}

#servicos .services-container .card-services .services-text h4 {
  color: var(--blue);
  font-size: 2rem;
  text-align: center;
  /* margin: 10px 0px; */
}

#servicos .services-container .card-services .services-text p {
  text-align: center;
}

/* ajuste fino */
.image-area img{
  width: 60px;
  margin: 16px 0;
}


